.container {
    width: 400px;
    height: 500px;
    background-color: rgba(55, 18, 222, 0.331);
    border-radius: 5px;
}

.container h1, p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container * {
    font-family: sans-serif;
    font-weight: 900;
}

.btn {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    border: none;
}

.btn:hover {
    background-color: rgb(213, 213, 213);
    cursor: pointer;
}

.btn:active {
    background-color: blueviolet;
}

.textField {
    width: 180px;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
}

.textField:focus {
    outline: none;
}

.errormsg {
    font-size: 12px;
    color: rgb(255, 0, 0);
    font-weight: 300;
}

.interractive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    margin-top: 10px;
}