.notification {
    position: fixed;
    top: 15px;
    right: 15px;
}

.remove {
    display: none;
}

.container {
    position: relative;
    background-color: rgba(25, 149, 6, 0.6);
    color: white;
    padding: 0 100px 0 100px;
    min-width: max-content;
    border-radius: 10px;
    font-weight: 600;
    height: 50px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: grab;
}

.container:active {
    cursor: grabbing;
}

.closeButton {
    position: absolute;
    top: 25%;
    right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(235, 79, 79);
    opacity: 0.7;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: linear 0.1s;
}

.closeButton:active {
    cursor: default;
}

.closeButton:hover {
    opacity: 0.9;
}

.icon {
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 900;
}