.notification {
    position: fixed;
    right: 15px;
    animation-name: popup;
    animation-duration: 0.5s;
    transition-property: top;
    transition-duration: 0.5s;
}

.popout {
    animation-fill-mode: forwards;
    animation-name: popout;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes popup {
    from {
        top: -50px;
        opacity: 0;
    }

    to {
        top: 15px;
        opacity: 1;
    }
}

@keyframes popout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.remove {
    opacity: 0;
    display: none;
}

.container {
    background-color: rgba(25, 149, 6, 0.6);
    color: white;
    padding: 0 100px 0 100px;
    min-width: max-content;
    border-radius: 10px;
    font-weight: 600;
    height: 50px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: grab;
}

.container:active {
    cursor: grabbing;
}

.closeButton {
    position: absolute;
    top: 25%;
    right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(235, 79, 79);
    opacity: 0.7;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: linear 0.1s;
}

.closeButton:active {
    cursor: default;
}

.closeButton:hover {
    opacity: 0.9;
}

.icon {
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 900;
}